@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 150px;
  background-color: slategray;
}

.container {
  display: flex;
  border: 5px solid black;
  height: 100%;
  margin: auto;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
  background-color: slategray;
}

.nav-links li {
  text-decoration: none;
  background-color: slategray;
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  background-color: slategray;
  color: white;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nav-links li a:visited {
  color: white;
}

.nav-links li a:hover {
  color: black;
}

button {
  padding: 9px 8px;
  background-color: rgb(255, 0, 0);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
}

.search-bar {
  margin: 15px;
  font-size: 22px;
}

#search-button {
  margin-left: 5px;
}

.column {
  width: 80%;
  height: 100%;
  margin: 25px;
  padding: 10px;
}

#search-book {
  text-align: center;
  font-size: 1.25em;
  height: 35px;
  width: 65%;
}

.results {
  display: flex;
}

.left {
  width: 50%;
  float: left;
}

.right {
  width: 50%;
}

.book-content {
  border: 3px solid black;
  height: 100%;
  text-align: center;
  display: inline-block;
}

.book-card {
  color: black;
}

#search-history {
  color: black;
}

button.delete-search {
  background-color: rgb(0, 26, 255);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 5px;
  padding: 2px 4px;
  font-size: 28px;
}

button.delete-search:hover {
  background-color: rgba(223, 175, 20, 0.8);
}

.search-result {
  margin: 0px 3px 3px;
  list-style: none;
  padding-left: 25px;
}

#reading-plan {
  background-color: grey;
  height: 40px;
}

.hidden {
  display: none;
}
